# secrets
.env
.env.local
*.local

# deps
node_modules/
.pnpm-store/

# builds
.next/
out/
dist/
build/
*.tsbuildinfo

# prisma generated client
/lib/generated/

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# os / editor
.DS_Store
.idea/
.vscode/
